  <%- include ('includes/header') %>
  <%- include ('includes/nav')%>
    <div class="">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <h1 class="display text-center">Lista de Produtos</h1>
                <div class="responsive-class-table">
                    <table class="table">
                        <tr>
                            <td>Silas</td>
                            <td>2,90</td>
                            <td>34</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>

    </div>
  <%- include ('includes/footer') %>
 
   