  <%- include ('includes/header') %>
  <%- include ('includes/nav')%>
    <div class="">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <h3 class="display text-center">Operação Realizada</h3>
                <%- include('includes/sucess') %>
            </div>
            <div class="col-lg-2"></div>
        </div>

    </div>
  <%- include ('includes/footer') %>
 
   